.help {
    max-width: 100vw;
    min-height: 250vh;
    align-items: center;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 130px;
}

.help > h2 {
    position: relative;
    margin-top: 33px;
    width: 80px;
    height: 42px;
    color: #000000;
    left: 0%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}

.help > h4 {
    position: relative;
    top: -20px;
    left: 0%;
    width: 271px;
    height: 34px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
}

.helpCard {
    position: relative;
    width: 80%;
    height: 118px;
    left: 0%;
    background: #F4F4F4;
    border-radius: 5px;
}

.helpCard > h4 {
    position: absolute;
    top: 24px;
    width: 512px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: start;
}

.helpCard > p {
    position: absolute;
    top: 53px;
    width: 90%;
    height: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
}


.lastCard {
    position: relative;
    width: 80%;
    height: 118px;
    left: 0%;
    background: #F4F4F4;
    border-radius: 5px;
    margin-bottom: 50px;
}

.lastCard > h4 {
    position: absolute;
    width: 512px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: start;
    top: 24px;
}

.lastCard > p {
    position: absolute;
    top: 53px;
    width: 90%;
    height: 62px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
}

.lastCard > p > span {
    color: var(--tertiary300);
}



/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {
    .help {
        min-height: 280vh;
        top: 100px;
    }
    .helpCard {
        height: 160px;
    }
    .helpCard > h4 {
        height: 68px;
    }
}

@media screen and (max-width: 600px) {
    .help {
        min-height: 390vh;
    }
    .helpCard {
        height: 250px;
    }
    .helpCard > h4 {
        height: 50px;
        width: 80%;
    }
    .helpCard > p {
        top: 100px;
    }
    
}

@media screen and (max-width: 479px) {
    .help {
        min-height: 500vh;
    }
    .helpCard {
        height: 360px;
    }
    .helpCard > h4 {
        width: 90%;
        font-size: 18px;
        left: 5%;
    }
    .helpCard > p {
        left: 5%;
    }
    .lastCard > h4 {
        width: 100%;
        height: 44px;
        font-size: 18px;
    }
}




