.mainform {
    height: 700px;
    width: 600px;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.mainform-body {
    position: absolute;
    width: 100%;
    height: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mainform-body > div {
    position: relative;
    width: 509px;
    height: 102px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.mainform-body > div > label {
    height: 42px;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.mainform-body > div > input {
    height: 60px;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #8C8C8C;
    padding-left: 20px;
    padding-top: auto;
}

.mainform-body > a {
    position: relative;
    width: 509px;
    height: 59.79px;
    background: #EF0000;
    border: 1px solid #EF0000;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FDFDFD;
    cursor: pointer;
    text-decoration: none;
}

.mainform-body > a > button{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FDFDFD;
    background: #EF0000;
    border: 1px solid #EF0000;
    cursor: pointer;
}

.social__login {
    position: absolute;
    top: 370px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    gap: 22px;
}

.line {
    position: absolute;
    width: 507px;
    height: 18px;
    color: #8C8C8C;
    display: flex;
    top: 20px;
    align-items: center;
    gap: 5px;
}

.line > div {
    background: #8C8C8C;
    width: 237px;
    height: 1px;
}

.social__login > a {
    width: 509px;
    height: 59.79px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    top: 161px;
    border: 1px solid #000000;
    color: black;
    text-decoration: none;
    padding-top: 20px;
}

.social__login > a:nth-child(2) {
    width: 509px;
    height: 59.79px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    top: 79px;
    border: 1px solid #000000;
    color: black;
    text-decoration: none;
    padding-top: 20px;
}

.social__login > a:nth-child(2) > svg.iconify.iconify--akar-icons {
    color: blue;
}

.social__login > h5 {
    position: absolute;
    top: 269px;
}

.social__login > h5 > a {
    color: #EF0000;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 600px) {
    div.mainform-body {
        width: 80%;
        left: 10%;
    }
    .mainform-body > div {
        width: 90%;
    }
    .mainform-body > a {
        width: 90%;
    }

    .social__login {
        width: 80%;
        left: 10%;
    }
    .line {
        width: 90%;
    }
    .social__login >  a, .social__login >  a:nth-child(2){
        width: 90%;
    }

}

@media screen and (max-width: 479px) {
    div.mainform-body {
        width: 60%;
        left: 20%;
    }
    .mainform-body > div {
        width: 90%;
    }
    .mainform-body > a {
        width: 90%;
    }

    .social__login {
        width: 60%;
        left: 20%;
    }
    .line {
        width: 90%;
    }
    .social__login >  a, .social__login > a:nth-child(2){
        width: 90%;
    }
}

@media screen and (max-width: 350px) { 
    div.mainform-body {
        width: 50%;
        left: 25%;
    }
    .mainform-body > div {
        width: 90%;
    }
    .mainform-body > div > label {
        width: 90%;
        padding-left: 5%;
    }
    .mainform-body > div > input {
        width: 90%;
        left: 5%;
        position: relative;
    }
    .mainform-body > a {
        width: 82%;
        height: 40px;
    }
    .line {
        width: 62%;
    }
    .social__login > a, .social__login > a:nth-child(2) {
        width: 68%;
    }
    .social__login > h5 {
        font-size: 12px;
    }

}
