
.gadget-carousel-container {
    position: relative;
    width: 84%;
    height: 411px;
    left: 7%;
    margin: 36px 0px;
    display: flex;
    flex-direction: column;
}

.gadget-carousel-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}


.gadget-wrapper-text {
    width: 100%;
    height: 34px;
    position: absolute;
    display: flex;
}

.gadget-wrapper-text h4 {
    position: absolute;
    width: 290px;
    height: 34px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.gadget-wrapper-text h5 {
    position: absolute;
    width: 65px;
    height: 18px;
    right: 0px;
    font-family: 'Montsearrat' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}


.gadget-carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    top: 40px;
    height: 90%;
    position: relative;
}

.gadget-carousel-content {
    width: 570px;
    height: 313px;
    position: relative;
    display: flex;
    gap: 82px;
    transition: all 250ms linear;

    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

.gadget-carousel-content> div {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #F4F4F4;
    box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.gadget-right {
    width: 252px;
    height: 100%;
    position: absolute;
}

.gadget-text {
    position: absolute;
    width: 70%;
    height: 40%;
    top: 62px;
    left: 68px;
    display: flex;
    flex-direction: column;
}


.gadget-text > h5 {
    position: absolute;
    width: 162px;
    height: 71px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.gadget-text > p {
    position: absolute;
    width: 163px;
    height: 41px;
    top: 82px;
    left: 0px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-align: initial;
}

.gadget-right > a {
    top: 200px;
    position: absolute;
    text-align: center;
    padding-top: 15px;
    width: 133px;
    height: 54px;
    left: 68px;
    background: var(--tertiary300);
    border-color: var(--tertiary300);
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--primary100);
    cursor: pointer;
    text-decoration: none;
}

.gadget-carousel-content> div .img {
    position: relative;
    width: 325px;
    height: 100%;
    /* top: 28px; */
    left: 250px;
}

.gadget-carousel-content> div .img > img{
    position: absolute;
    width: 90%;
    height: 80%;
    left: 10px;
    top: 43px;
}



/* hide scrollbar in webkit browser */
.gadget-carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.gadget-carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

/* ... */
.gadget-carousel-content.show-2 > * {
    width: 50%;
}

.gadget-carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.gadget-carousel-content.show-4 > * {
    width: calc(100% / 4);
}

/* ... */
.gadget-left-arrow, .gadget-right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: #E3E3E3;
    border: 1px solid #ddd;
    color: #FFFFFF;
    font-size: 32px;
}

.gadget-left-arrow {
    left: 24px;
}

.gadget-right-arrow {
    right: 24px;
}



/* RESPONSIVENESS  */

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {
    .gadget-carousel-container {
        left: 5%;
        height: 200vh!important;
        width: 90%;
    }

    .gadget-carousel-container .gadget-carousel-content {
        flex-direction: column;
        width: 100%;
    }

    .gadget-carousel-content> div {
        width: 90%;
    }

    .gadget-right {
        width: 50%;
    }

    .gadget-carousel-content> div .img {
        width: 50%;
        left: 50%;
    }

    .gadget-right-arrow {
        display: none;
    }
    .gadget-left-arrow {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .gadget-carousel-container {
        height: 190vh!important;
    }
    .gadget-carousel-content> div .img {
        width: 50%;
        right: 5%;
    }
    .gadget-text {
        left: 10%;
    }
    .gadget-right > a {
        left: 10%;
    }
}

@media screen and (max-width: 479px) {
    .gadget-carousel-container {
        width: 80%;
        left: 10%;
        height: 205vh!important;
    }
    .gadget-carousel-content> div {
        width: 100%;
    }
    .gadget-text > h5 {
        font-size: 20px;
        line-height: 30px;
    }
    .gadget-text > p {
        font-size: 12px;
        top: 72px;
    }
    .gadget-right > a {
        width: 100px;
        font-size: 12px;
    }
    .gadget-carousel-content> div .img > img {
        height: 60%;
        top: 63px;
    }
}

