/*
@media only screen and (max-width: 1600px) and (min-width: 1440px) {  

}
*/
/*
@media only screen and (max-width: 1440px) {  
    .landing {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 1174px;
        height: 553px;
        left: 133px;
    }
    
    
    .landing__right {
        position: absolute;
        width: 938px;
        height: 553px;
        right: 0px;
    }  
}
*/

.landing {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1174px;
    height: 553px;
    left: 133px;
}


.landing__right {
    position: absolute;
    width: 938px;
    height: 553px;
    right: 0px;
}

.landing__slideShow {
    position: absolute;
    width: 100%;
    height: 100%;
}



