/*
@media only screen and (max-width: 1600px) and (min-width: 1440px) {  

}
*/
/*
@media only screen and (max-width: 1440px) {  
    .landing {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 1174px;
        height: 553px;
        left: 133px;
    }
    
    
    .landing__right {
        position: absolute;
        width: 938px;
        height: 553px;
        right: 0px;
    }  
}
*/

.landing {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 553px;
    left: 133px;
    margin-bottom: 130px;
}


.landing__right {
    position: absolute;
    width: 80%;
    height: 553px;
    right: 0px;
}

.landing__slideShow {
    position: absolute;
    width: 100%;
    height: 100%;
}



/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1200px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {
    .landing {
        left: 0px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
        /* position: absolute; */
    }

    .landing__right {
        position: relative;
        right: unset;
        top: 0px;
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 730px) {
    .landing__right {
        position: relative;
        right: unset;
        top: 0px;
        width: 95%;
        left: 2%;
    }
}

@media screen and (max-width: 600px) {
    .landing {
        height: 453px;
    }
    .landing__right {
        width: 80%;
        left: 10%;
        height: 100%;
    }
}


@media screen and (max-width: 310px) {
    .landing {
        height: 403px;
    }
}
