.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    position: relative;
    top: -40px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    top: 0;
    left: 0;
    background: black;
}

.carousel-caption {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-item > .w-100 {
    width: 60%!important;
    height: 500px!important;
    right: 0px!important;
    position: absolute;
}


.carousel-caption > h3 {
    position: absolute;
    width: 249px;
    height: 112px;
    left: 38px;
    top: 103px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}


.carousel-caption > p {
    position: absolute;
    width: 217px;
    height: 73px;
    left: 68px;
    top: 226px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0px;
    text-align: start;
}


.carousel-caption > button {
    padding: 8px 20px;
    position: absolute;
    width: 171px;
    height: 65px;
    left: 68px;
    top: 335px;
    background: #EF0000;
    border-radius: 5px;
    border-color: #EF0000;
    border-width: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FDFDFD;
    cursor: pointer;
}


.carousel-indicators {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 1em;
    list-style: none;
    top: 490px!important;
    position: relative;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.carousel-indicators > button.active {
    background-color: red!important;
    color: red!important; 
    background: red;
    z-index: 1;
}

span.visually-hidden {
    color: transparent;
}

.carousel-indicators > button {
   /* background-color: #D9D9D9;
    opacity: 1; */
    background-color: #D9D9D9;
    background: #d9d9d9;
    margin: 0px 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border-color: none;
    border-width: 0px;
}

.carousel-indicators > button:before {
    
    opacity: 1;
}

a.carousel-control-prev {
    color: white;
}


a.carousel-control-next {
    color: white;
}

@media screen and (max-width: 1200px) {
    .carousel-item > .w-100 {
        width: 50%!important;
        height: 450px!important;
    }
    a.carousel-control-prev {
        display: none;
    }
    
    
    a.carousel-control-next {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .carousel-item > .w-100 {
        width: 60%!important;
        height: 450px!important;
    }
    .carousel-indicators {
        padding-left: 15%;
    }
    .carousel.slide {
        position: relative;
        width: 100%;
        top: 0px;
        height: 100%;
    }
    .carousel-inner {
        top: -50px;
    }

    .carousel-caption > h3 {
        font-size: 35px;
        left: 20px;
        top: 136px;
        width: 50%;
        height: 85px;
        line-height: 40px;
        text-align: start;
    }
    .carousel-caption > p {
        font-size: 16px;
        left: 20px;
        top: 230px;
        width: 40%;
    }
    .carousel-caption > button {
        width: 120px;
        height: 45px;
        left: 20px;
        top: 308px;
        padding: 8px 5px;
        font-size: 12px;
    }
    .carousel-indicators {
        top: 380px!important;
    }
}

@media screen and (max-width: 479px) {
    a.carousel-control-prev {
        display: none;
    }
    .carousel-item > .w-100 {
        width: 100%!important;
        height: 65%!important;
        top: 60px;
    }
    
    
    a.carousel-control-next {
        display: none;
    }

    .carousel-caption > h3 {
        font-size: 30px;
        left: 10px;
        top: 116px;
        width: 70%;
        height: 85px;
        line-height: 40px;
        text-align: start;
    }
    .carousel-caption > p {
        font-size: 14px;
        left: 10px;
        top: 210px;
        width: 50%;
    }
    .carousel-caption > button {
        width: 100px;
        height: 45px;
        left: 10px;
        top: 288px;
        padding: 8px 5px;
        font-size: 12px;
    }
    .carousel-indicators {
        top: 380px!important;
    }
    
}

@media screen and (max-width: 340px) {
    .carousel-caption > h3 {
        top: 136px;
    }
    .carousel-caption > p {
        font-size: 12px;
        top: 230px;
    }
    .carousel-caption > button {
        top: 300px;
    }

}

@media screen and (max-width: 310px) {
    .carousel-indicators {
        top: 340px!important;
    }
    .carousel-caption > h3 {
        top: 106px;
        font-size: 25px;
    }
    .carousel-caption > p {
        font-size: 11px;
        top: 200px;
    }
    .carousel-caption > button {
        top: 280px;
        width: 80px;
        height: 40px;
    }

}
