
.productImgC-carousel-container {
    position: relative;
    width: 40%;
    height: 114px;
    left: 10%;
    margin: 3px 0px;
}

.productImgC-carousel-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}


.productImgC-carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.productImgC-carousel-content {
    width: 130px;
    height: 114px;
    left: 50px;
    position: relative;
    display: flex;
    gap: 21px;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}










/* hide scrollbar in webkit browser */
.productImgC-carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.productImgC-carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

/* ... */
.productImgC-carousel-content.show-2 > * {
    width: 100%;
}

.productImgC-carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.productImgC-carousel-content.show-4 > * {
    width: calc(100% / 4);
}

/* ... */
.productImgC-left-arrow, .productImgC-right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: #E3E3E3;
    border: 1px solid #ddd;
    color: #FFFFFF;
    font-size: 32px;
}

.productImgC-left-arrow {
    left: 24px;
}

.productImgC-right-arrow {
    right: 24px;
}




/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 600px) {
    .productImgC-carousel-container {
        position: relative;
        width: 90%;
        height: 214px;
        left: 0%;
    }
}

@media screen and (max-width: 479px) {

}


