
.sidebar {
    position: relative;
    width: 145px;
    height: 522px;
    top: 31px;
    column-gap: 45px;
    display: flex;
    flex-direction: column;
}

.menuItem {
    position: relative;
    align-items: center;
    height: 38px;
    transition: all 300ms ease-in-out;
    border-radius: 5px;   
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
    margin: 10.5px 0px;
}

.menuItem:hover {
    cursor: pointer;
    background: var(--tertiary300);
    color: white;
}

.menuItem > a:hover {
    color: white;
}


.menuItem > svg.iconify {
    padding-top: 0px!important;
}

.menuItem > a {
    text-decoration: none;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}




/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {
    .sidebar {
        width: 70%;
        align-items: center;
        display: none;
    }
    .menuItem {
        color: red;
        width: 30%;
        gap: 40px;
    }
    .menuItem > a {
        color: red;

    }
    
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 479px) {

}










