
.sidebar {
    position: relative;
    width: 145px;
    height: 522px;
    top: 31px;
    column-gap: 45px;
    display: flex;
    flex-direction: column;
}

.menuItem {
    position: relative;
    align-items: center;
    height: 38px;
    transition: all 300ms ease-in-out;
    border-radius: 5px;   
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
    margin: 10.5px 0px;
}

.menuItem:hover {
    cursor: pointer;
    background: var(--tertiary300);
    color: white;
}

.menuItem > a:hover {
    color: white;
}


.menuItem > svg.iconify {
    padding-top: 0px!important;
}

.menuItem > a {
    text-decoration: none;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
/*
.sidebar a:nth-child(2) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 63px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.sidebar a:nth-child(3) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 126px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.sidebar a:nth-child(4) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 181px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.sidebar a:nth-child(5) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 252px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.sidebar a:nth-child(6) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 315px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.sidebar a:nth-child(7) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 378px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.sidebar a:nth-child(8) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 441px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.sidebar a:nth-child(9) {
    position: absolute;
    width: 145px;
    height: 18px;
    top: 504px;
    text-decoration: none;
    display: flex;
    gap: 5px;
    padding-top: 0px;
    cursor: pointer;
    color: var(--secondary400);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

svg.iconify {
    padding-top: 0px!important;
}

*/