.about__container {
    max-width: 100vw;
    min-height: 285vh;
    align-items: center;
    background: #ffffff;
    position: relative;
    top: 130px;
}

.about__container > h2 {
    position: absolute;
    width: 147px;
    height: 42px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    align-self: center;
    color: #000000;
    text-align: center;
    left: 50%;
    top: 20px;
}

.about__frame {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 410px;
    display: flex;
    top: 80px;
    margin-bottom: 50px;
}

.about__frame > img {
    position: absolute;
    width: 50%;
    left: 0%;
    height: 98%;
}

.about__frame > div {
    position: absolute;
    width: 45%;
    height: 98%;
    right: 0%;
    display: flex;
    flex-direction: column;
}

.about__frame > div > h4 {
    position: absolute;
    width: 276px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
}

.about__frame > div > p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 50px;
    color: #000000;
}

.about__icon-section {
    width: 80%;
    height: 400px;
    position: relative;
    left: 10%;
    top: 500px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.about__card {
    width: 60%;
    height: 377px;
    position: relative;
    background: #F4F4F4;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.about__card > img {
    position: absolute;
    width: 130px;
    height: 106px;
    top: 91px;
}

.about__card > h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    top: 218px;
    color: #000000;
    width: 50%;
    left: 45%;
}

.about__card > p {
    position: absolute;
    top: 246px;
    width: 70%;
    height: 70%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #212121;
}

.about__container > .discuss__container {
    top: 320px;
    left: 10%;
    width: 90%;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {
    .about__container > .discuss__container {
        width: 80%;
        height: 550px;
    }
}

@media only screen and (max-width: 1200px)  {
    .about__frame > div > p {
        line-height: 16px;
    }
    .about__container > .discuss__container {
        gap: 3%;
        width: 80%;
    }
    .about__container > .discuss__container > div.discuss__card  {
        width: 80%;
    }
}


@media screen and (max-width: 960px) {
    .about__container {
        min-height: 300vh;
        top: 120px;
    }
    .about__frame {
        height: 450px;
    }
    .about__icon-section {
        top: 600px;
        margin-bottom: 250px;
    }
    .about__card > h4 {
        left: 40%;
    }
    .about__container > .discuss__container {
        top: 390px;
    }
}

@media only screen and (max-width: 720px)  {
    .about__container {
        min-height: 320vh;
    }
    .about__container > h2 {
        left: 30%;
    }
    .about__frame  {
        height: 70vh;
        align-items: center;
    }
    .about__frame > img {
        width: 100%;
        height: 40%;
        top: 0px;
        left: 0%;
    }
    .about__frame > div {
        width: 90%;
        height: 50%;
        top: 270px;
    }
    .about__frame > div > p {
        line-height: 16px;
    }
    .about__icon-section {
        top: 700px;
        height: 80vh;
        flex-direction: column;
        align-items: center;
    }
    .about__card {
        width: 80%;
    }
    .about__card > img {
        top: 50px;
    }
    .about__card > h4 {
        top: 180px;
        width: 100%;
        left: 0px;
        text-align: center;
    }
    .about__card > p {
        top: 220px;
    }
    .about__container > 
    .discuss__container {
        top: 550px;
    }
}

@media screen and (max-width: 600px) {
    .about__container {
        min-height: 430vh;
    }
    .about__container >
     .discuss__container {
        top: 650px;
        min-height: 200vh;
    }
    .about__icon-section {
        top: 750px;
    }
    .about__container > 
    .discuss__container >
     div.discuss__card {
        width: 100%;
    }
    .about__container > 
    .discuss__container >
     div.discuss__card > h3 {
        top: 270px;
    }
    .about__container > 
    .discuss__container >
     div.discuss__card > p {
        top: 290px;
    }
}


@media screen and (max-width: 470px) {
    
    .about__icon-section {
        top: 830px;
    }
    .about__container > 
    .discuss__container {
        left: 10%;
        top: 670px;
        min-height: 280vh;
    }
    .about__container >
     .discuss__container
      > div.discuss__card > h3 {
        top: 200px;
    }
    .about__container >
     .discuss__container
      > div.discuss__card > p {
        top: 230px!important;
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .about__container {
        min-height: 470vh;
    }
    .about__icon-section {
        top: 1090px;
    }
    .about__container > .discuss__container {
        top: 1000px;
        min-height: 300vh;
    }
    div.discuss__card > h3 {
        top: 200px;
        line-height: 20px;
    }

}

