.delivery__container {
    width: 100%;
    height: 100%;
    
}

.delivery__container > h4 {
    position: relative;
    width: 90%;
    height: 30px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.delivery__container > .haed {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    top: 155px;
}

.haed > div {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.haed > div > .circle {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #000000;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.haed > div > .circle > div {
    position: absolute;
    background: #000000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 11%;
    top: 10%;
}


.haed > div > p {
    position: absolute;
    height: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #EF0000;
    left: 3%;
}

.haed > p {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    width: 100%;
    top: 54px;
}

.delivery__container > .center {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 17px 28px;
    position: relative;
    width: 90%;
    height: 255px;
    border: 1px solid #212121;
    border-radius: 5px;
    padding-left: 3%;
}

.delivery__container > .center > p {
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
}

.delivery__container > a {
    position: absolute;
    top: 405px;
    padding-top: 20px;
    width: 90%;
    height: 60px;
    background: #EF0000;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FDFDFD;
    text-decoration: none;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 815px) {
    .delivery__container > .center > p { 
        font-size: 16px;
    }
    .haed > div > p {
        left: 5%;
    }
}

@media screen and (max-width: 500px) {
    .delivery__container > h4 {
        font-size: 10px;
    }
    .haed > div > p {
        left: 10%;
        font-size: 15px;
        top: 37px;
    }
    .haed > p {
        font-size: 10px;
    }
    .delivery__container > .center {
        gap: 0px;
        padding-top: 3px;
    }
    .haed > div > .circle > div {
        left: 9%;
    }
    .delivery__container > .center > p {
        font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    .delivery__container > .center  {
        height: 420px;
    }
    .delivery__container > .center > p {
        margin-bottom: 0.4rem;
    }
    .delivery__container > a {
        top: 575px;
        font-size: 16px;
    }
}

