.accountTab {
    position: relative;
    width: 100%;
    height: 257px;
    top: 20px;
}

.accountTab > .MuiBox-root.css-8atqhb {
    background: #F4F4F4;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
}

.accountTab > .MuiBox-root.css-8atqhb 
> div#simple-tabpanel-0 {
    position: absolute;
    height: 60%;
    width: 100%;
}


.accountTab > .MuiBox-root.css-8atqhb 
> div#simple-tabpanel-1 {
    position: absolute;
    height: 60%;
    width: 100%;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 479px) {

}


