.profile__container {
    position: relative;
    width: 85%;
    height: 260px;
    left: 133px;
    background: #F4F4F4;
    border-radius: 5px;
}

.profile__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 960px;
    position: relative;
    top: 266px;
    background: #ffffff;
}
