.sellerNext {
    position: relative;
    width: 80%;
    height: 313px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F4F4F4;
    border-radius: 5px;
    margin-bottom: 51px;
}

.sellerNext > div {
    position: absolute;
    width: 193.29px;
    height: 142px;
    left: 178px;
    top: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sellerNext > div > h3 {
    width: 193.29px;
    height: 71px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.sellerNext > div > a {
    width: 136.74px;
    height: 54px;
    background: #EF0000;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FDFDFD;
    text-decoration: none;
    text-align: center;
    padding-top: 18px;
}

.sellerNext > img {
    position: absolute;
    width: 461px;
    height: 279px;
    right: 153px;
    top: 17px;
}



/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {
    .sellerNext > img {
        right: 0%;
    }
}

@media only screen and (max-width: 1200px)  {
    .sellerNext > img {
        right: 3%;
        width: 400px;
        top: 50px;
        height: 200px;
    }
    .sellerNext > div {
        left: 10%;
    }
}

@media screen and (max-width: 960px) {
    .sellerNext {
        left: 5%;
        width: 90%;
        margin-top: 100px;
    }
}

@media screen and (max-width: 740px) {
    .sellerNext {
        height: 500px;
        flex-direction: column;
        align-items: center;
    }
    .sellerNext > div {
        left: 30%;
    }
    .sellerNext > img {
        right: 0%;
        left: 20%;
        top: 270px;
    }
}

@media screen and (max-width: 600px) {
    .sellerNext > img {
        left: 10%;
        width: 80%;
    }
}
