
.sellerLanding {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 553px;
    left: 133px;
    background: #F4F4F4;
    border-radius: 5px;
}

.sellerLanding > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 271px;
    left: 10%;
    top: 141px;
}

.sellerLanding > div > h3 {
    position: absolute;
    width: 268px;
    height: 112px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    top: 0px;
    line-height: 54px;
    color: #000000;
}

.sellerLanding > div > h5 {
    position: absolute;
    width: 268px;
    height: 73px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: start;
    top: 118px;
}

.sellerLanding > div > a {
    position: absolute;
    width: 171px;
    height: 65px;
    background: #000000;
    color: #FDFDFD;
    border-radius: 5px;
    bottom: 0px;
    text-align: center;
    padding-top: 20.5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.sellerLanding > img {
    position: absolute;
    width: 566px;
    height: 514px;
    right: 10%;
    top: 19px;
    background: #F4F4F4;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {
    .sellerLanding > img {
        right: 0%;
    }
}

@media only screen and (max-width: 1200px)  {
    .sellerLanding > img {
        right: 3%;
        width: 400px;
        top: 80px;
        height: 400px;
    }
}

@media screen and (max-width: 960px) {
    .sellerLanding {
        width: 90%;
        left: 5%;
    }
    .sellerLanding > div {
        left: 5%;
    }
    .sellerLanding > img {
        right: 5%;
        width: 300px;
        height: 300px;
        top: 150px;
    }
}

@media screen and (max-width: 650px) {
    .sellerLanding {
        flex-direction: column;
        align-items: center;
    }
    .sellerLanding > img {
        top: 5%;
        left: 15%;
        width: 70%;
    }
    .sellerLanding > div {
        top: 65%;
        align-self: center;
        align-items: c;
        z-index: 1;
        left: 15%;
        width: 80%;
        height: 30%;
    }
    .sellerLanding > div > h3 {
        width: 100%;
        font-size: 35px;
        height: 50px;
        text-align: center;
    }
    .sellerLanding > div > h5 {
        width: 100%;
        height: 50px;
        top: 50px;
    }
    .sellerLanding > div > a {
        left: 30%;
    }
}

@media screen and (max-width: 440px) {
    .sellerLanding {
        height: 620px;
    }
    .sellerLanding > div {
        top: 60%;
    }
    .sellerLanding > div > h3 {
        width: 100%;
        font-size: 25px;
        height: 100px;
        text-align: center;
    }
    .sellerLanding > div > h5 {
        width: 100%;
        height: 50px;
        top: 60px;
        font-size: 16px;
        text-align: center;
    }
    .sellerLanding > div > a {
       top: 120px;
       left: 20%;
       width: 150px;
       font-size: 16px;
    }
}

@media screen and (max-width: 335px) {
    .sellerLanding > div > h3 {
        line-height: 22px;
        font-size: 27px;
    }
    .sellerLanding > div > h5 {
        font-size: 15px;
    }
    .sellerLanding > div > a {
        left: 10%;
     }
}

