.dropdown_container {
    position: relative;
    width: 140px;
    height: 43px;
    
    z-index: 1;
}

.dropdown_container > div {
    width: 140px;
    height: 43px;
    position: relative;
    display: flex;
    gap: 5px;
}

.dropdown_container > div > button {
    position: absolute;
    text-decoration: none;
    border-color: var(--primary100);
    border-width: 0px;
    background-color: var(--primary00);
    color: black;
    font-size: 17px;
    right: 32px;
    top: 0px;
    border-style: hidden;
    cursor: pointer;
}

.dropdown_container > div > button:focus {
    border-color: var(--primary100);
    border-width: 0px;
    outline: unset;
    cursor: pointer;

}

.dropdown_container > div > svg.iconify.iconify--teenyicons {
    left: 15px;
    width: 30px;
    height: 25px;
    position: absolute;
}

.dropdown_container > svg.iconify.iconify--ant-design {
    width: 25px;
    height: 25px;
    position: absolute;
    padding: 0px;
}

 svg.iconify.iconify--bx {
    width: 25px;
    height: 25px;
}

.dropdown__list {
    position: absolute;
    width: 166px;
    top: 30px;
    height: 176px;
    background: #FFFFFF;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    left: 0px;
    padding: 15px;
}

.dropdown__list a:nth-child(1) {
    position: absolute;
    padding: 8px 40px;
    width: 136px;
    height: 34px;
    background: #EF0000;
    color: var(--primary100);
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.dropdown__list a:nth-child(2) {
    position: absolute;
    text-align: center;
    width: 136px;
    height: 34px;
    border: 1px solid #EF0000;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    border-radius: 5px;
    color: black;
    top: 69px;
    padding-top: 5px;
    padding-left: 5px;
}

.dropdown__list a:nth-child(2):hover {
    top: 69px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

.dropdown__list a:nth-child(3) {
    position: absolute;
    top: 123px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 133px;
    height: 28px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.dropdown__list a:nth-child(3):hover {
    top: 117px;
    width: 133px;
    height: 35px;
    color: black;
    padding: 0px;
    padding-top: 7px;
    padding-left: 0px;
}


