* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.app {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  margin: 0;
}

:root {
  --primary100 : #FDFDFD;
  --primary200 :#F4F4F4;
  --primary300 :#F2F2F2;
  --primary400 :#E3E3E3;
  --secondary100 :#8C8C8C;
  --secondary200 :#212121;
  --secondary300 :#121212;
  --secondary400 :#000000;
  --tertiary100 :#BB0202;
  --tertiary200 :#D90303;
  --tertiary300 :#EF0000;
  --tertiary400 :#FF0000;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 1439px) and (min-width: 1201px)  {

}

@media only screen and (max-width: 1200px)  {
    
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 479px) {

}


