.footer__container {
    position: relative;
    height: 331px;
    width: 100vw;
    background: var(--secondary400);
}

.footer__container > img {
    position: absolute;
    top: 24px;
    left: 135px;
    width: 197px;
    height: 132px;
}

.footer__container a {
    width: 44px;
    position: absolute;
    height: 44px;
    top: 122px;
    left: 135px;
    background: var(--primary300);
    border-radius: 50%;
    z-index: 1;
    padding: 12px;
    color: black;
}

.footer__container a svg.iconify.iconify--ei {
    padding: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 6px;
}

.footer__container a:nth-child(2) {
    width: 44px;
    position: absolute;
    height: 44px;
    top: 122px;
    left: 191px;
    background: var(--primary300);
    border-radius: 50%;
    z-index: 1;
    padding: 12px;
}

.footer__container a:nth-child(2) svg.iconify.iconify--ant-design {
    padding: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 7px;
}


.footer__container a:nth-child(3) {
    width: 44px;
    position: absolute;
    height: 44px;
    top: 122px;
    left: 247px;
    background: var(--primary300);
    border-radius: 50%;
    z-index: 1;
    padding: 12px;
}


.footer__container a:nth-child(3) svg.iconify.iconify--ant-design {
    padding: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 5px;
}

.footer__list {
    position: relative;
    left: 700px;
    width: 51%;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 108px;
}

.footer__list > ul {
    position: relative;
    width: 107px;
    height: 148px;
    list-style-type: none;
    top: 74px;
    text-align: start;
}

.footer__list > ul > li:nth-child(1) {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    color: var(--primary300);
}

.footer__list > ul > li {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--primary400);
    margin-bottom: 11px;
    width: 137px;
}
