.newsletter {
    position: relative;
    width: 100vw;
    height: 300px;
    background: var(--secondary200);
    display: grid;
    place-items: center; /* cool stuff */
}

.newsletter__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 380px;
    height: 59px;
    top: 31px;
}

.newsletter__text>h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--primary100);
    margin: 0px;
    text-align: center;
}

.newsletter__text>p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--primary100);
    margin-top: 5px;
}

.newsletter__input {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 531px;
    height: 65px;
    top: 121px;
    background: var(--primary200);
    border-radius: 5px;
}

.newsletter__input input[type="text"] {
    width: 443px;
    padding-left: 20px;
}


.newsletter__search {
    width: 88px;
    height: 65px;
    background: var(--tertiary300);
    border-radius: 0px 5px 5px 0px;
    padding: 25px 20px;
    border-color: var(--tertiary300);
    cursor: pointer;
}

button.newsletter__search:hover {
    background: var(--tertiary200);
    border-radius: 5px;
}

.newsletter__search svg.iconify.iconify--bi {
    color: var(--primary300);
}


/* RESPONSIVENESS  */
@media screen and (max-width: 600px) {
    .newsletter {
        height: 300px;
    }

    .newsletter__text {
        top: 60px;
    }
    .newsletter__input {
        width: 90%;
        top: 185px;
    }
    .newsletter__text > p {
        width: 100%;
        height: 40px;
        top: 35px;
        font-size: 12px;
    }
}

@media screen and (max-width: 479px) {
    .newsletter__text>h3 {
        font-size: 25px;
    }
    .newsletter__text > p {
        font-size: 10px;
    }
}
